body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table{
  cursor: pointer;
}
.loader{
  position: absolute;
  top:50%;
  left: 50%;
  transform:translate(-50% , -50%);
}
.page-item{
  cursor: pointer;
}